

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 80%;
    

}
.contenedor {
    padding-top:20px;
    width: 80%;
    margin: auto;
    text-align: justify;
    
    }
.titulo1{
    color:blue ;
    width: 80%;
    text-align: justify;
    margin-bottom: 20px;
    display: inline-block;
    padding-right: 20px;
   
}

    .parrafo1{
        padding-right: 20px;
        width:75%;
        display: inline-block;
        position: relative;
    }
.video{
    padding-right: 50px;
        
        display: inline-block;
        position: relative;
        padding-top: 20px;

}

    .parrafo2{

        padding-right: 20px;
        width:75%;
        display: inline-block;
        position: relative;
        padding-top: 20px;
    }
    .logo1{
        display: inline-block;
        width:75%;
        width:75%;
        margin-left:600px;
        margin-top: 0px;
        
        
    }
    .logo2{
        display: inline-block;
        width:75%;
        margin-left:10px;
        margin-top: 0px; 
        border-top: 1px solid black;
    }



.banner{
    width: 100px;
    border-radius: 50%;
    margin-left:30px;
    border-top: 1px solid black;
    padding-top: 20px;

}




